{% extends 'base.html.twig' %}

{% block page_header %}
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="Default button group">
                <a id="btnArretaSave" class="btn btn-primary" href="#">{{ "Arreta Gorde" | trans }}</a>
                <a id="btnArretaClose" class="btn btn-primary btn-success" href="#">{{ "Arreta Itxi" | trans }}</a>
                <a id="btnArretaEzabatu" class="btn btn-primary btn-danger" href="#">{{ "Arreta Ezabatu" | trans }}</a>
            </div>
        </div>
        <div class="col-md-4" id="alertSpot">

            {% for type, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div id="divAlertSpot" class="alert alert-{{ type }} fade in alert-dismissible nirealert"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}

        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="hidden">
            {{ form_start(delete_form, {'attr': {'id': 'frmEzabatuArreta'}}) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="row">&nbsp;</div>
{% endblock page_header %}

{% block content_content %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#datuak" aria-controls="home" role="tab" data-toggle="tab">Datos</a>
        </li>
        <li role="presentation">
            <a href="#tramites" aria-controls="profile" role="tab" data-toggle="tab">Tramites</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        {#Datos Tab#}
        <div role="tabpanel" class="tab-pane active" id="datuak">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">

                    {{ form_start(edit_form, {'attr': {'id': 'frmArretaEdit'}}) }}

                    <div class="form-group">
                        {{ form_label(edit_form.kanala) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.kanala) }}
                        </div>
                        {{ form_errors(edit_form.kanala) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.remitente) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.remitente) }}
                        </div>
                        {{ form_errors(edit_form.remitente) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.genero) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.genero) }}
                        </div>
                        {{ form_errors(edit_form.genero) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.adina) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.adina) }}
                        </div>
                        {{ form_errors(edit_form.adina) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.nazionalitatea) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.nazionalitatea) }}
                        </div>
                        {{ form_errors(edit_form.nazionalitatea) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.hizkuntza) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.hizkuntza) }}
                        </div>
                        {{ form_errors(edit_form.hizkuntza) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.barrutia) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.barrutia) }}
                        </div>
                        {{ form_errors(edit_form.barrutia) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.administrazioa) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.administrazioa) }}
                        </div>
                        {{ form_errors(edit_form.administrazioa) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.oharra) }}
                        <div class="col-sm-10">
                            {{ form_widget(edit_form.oharra) }}
                        </div>
                        {{ form_errors(edit_form.oharra) }}
                    </div>

                    <div class="hidden">
                        {{ form_row(edit_form.user) }}
                        {{ form_row(edit_form.fetxa) }}
                        {{ form_row(edit_form.nan) }}
                        {{ form_row(edit_form.isclosed) }}
                        {{ form_rest(edit_form) }}
                    </div>

                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>

        {#Tramites Tab#}
        <div role="tabpanel" class="tab-pane" id="tramites">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" id="cmdZerbikat" class="btn btn-primary" data-toggle="modal"
                                data-target="#modal-zerbikat">Zerbikat
                        </button>
                        <button type="button" id="cmdGerkud" class="btn btn-primary" data-toggle="modal"
                                data-target="#modal-gerkud">Gerkud
                        </button>
                        <button type="button" id="cmdInformacion" class="btn btn-primary" data-toggle="modal"
                                data-target="#modal-info">{{ "Información" | trans }}</button>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <table class="table table-bordered table-hover table-striped" id="tramiteTable">
                        <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Tramite</th>
                            <th>{{ "Código" | trans }}</th>
                            <th>Resultado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in arreta.tramiteak %}
                            <tr>
                                <td>
                                    {% if t.zerbikatid is defined and t.zerbikatid is not null %}
                                        <a href="http://zerbikat.sare.gipuzkoa.net/064/es/{{ t.zerbikatid }}"
                                           target="_blank">{{ t.id }}</a>
                                    {% else %}
                                        {{ t.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if t.zerbikatid is defined and t.zerbikatid is not null %}
                                        <a href="http://zerbikat.sare.gipuzkoa.net/064/es/{{ t.zerbikatid }}"
                                           target="_blank">{{ t.name }}</a>
                                    {% else %}
                                        {{ t.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if t.zerbikatid is defined and t.zerbikatid is not null %}
                                        <a href="http://zerbikat.sare.gipuzkoa.net/064/es/{{ t.zerbikatid }}"
                                           target="_blank">{{ t.kodea }}</a>
                                    {% else %}
                                        {{ t.kodea }}
                                    {% endif %}
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        {% for r in results %}
                                            <li>
                                                <label for="editResuslt-{{ t.id ~ "-" ~ r.id }}"
                                                       class="required radio-inline">
                                                    <input type="radio" name="radioResult{{ t.id }}"
                                                           data-tramiteid="{{ t.id }}"
                                                           id="editResuslt-{{ t.id ~ "-" ~ r.id }}" class="radioResult"
                                                           value="{{ r.id }}"
                                                           required="required"
                                                            {% if t.result is defined %}
                                                                {% if t.result is not null %}
                                                                    {% if t.result.id == r.id %}
                                                                        checked="checked"
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endif %}
                                                    >{{ r.name }}
                                                </label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <a data-tramiteid="{{ t.id }}" href="#" data-toggle="modal"
                                       data-target="#modal-tramite-edit-{{ t.id }}">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    {% if t.zerbikatid is defined and t.zerbikatid is not null %}
                                        <a href="http://zerbikat.sare.gipuzkoa.net/064/es/{{ t.zerbikatid }}"
                                           target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    {% else %}
                                        <a href="#"
                                           target="_blank"><i class="fa fa-eye fa-disabled" aria-hidden="true"></i></a>
                                    {% endif %}

                                    <a data-tramiteid="{{ t.id }}" class="btnTramiteEzabatu" href="#">
                                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                    </a>

                                    <div class="modal fade" id="modal-tramite-edit-{{ t.id }}" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog  modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                                aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel{{ t.id }}">Zerbikat</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        {{ render(controller('AppBundle:Tramite:edit', {'id' : t.id})) }}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Itxi
                                                    </button>
                                                    <button data-tramiteid="{{ t.id }}" type="button"
                                                            class="btn btn-primary btnAjaxTramite">Gorde
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

        <div class="hidden">
            {{ render(controller('AppBundle:Tramite:new', {'arretaid': arreta.id})) }}
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-zerbikat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Zerbikat</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select id="cmbFamilia" multiple class="form-control" size="9">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select id="cmbAzpiFamilia" multiple class="form-control" size="9">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img id="spinnerPlace" src="{{ asset('img/spinner-gif-13.gif') }}" style="display: none;">
                            <div id="afterSpinner" class="form-group" style="display: none;">
                                <select id="cmbFitxa" multiple class="form-control" size="9">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Itxi</button>
                    <button id="btn-modal-gorde" type="button" class="btn btn-primary">Gorde</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-gerkud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Gerkud</h4>
                </div>
                <div class="modal-body">
                    <form id="frmGerkud">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="txtGerkudFullName" class="control-label">Izen Abizenak:</label>
                                    <input type="text" class="form-control" name="user[fullname]"
                                           id="txtGerkudFullName">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="helbidea" class="control-label">Helbidea:</label>
                                    <select name="helbidea" id="helbidea" class="form-control">
                                        <option value="-1">Aukeratu...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="txtGerkudEmail" class="control-label">Email:</label>
                                    <input type="text" class="form-control" name="user[mail]" id="txtGerkudEmail">
                                </div>
                                <div class="col-sm-6">
                                    <label for="txtGerkudTelf" class="control-label">telf:</label>
                                    <input type="text" class="form-control" name="user[phone]" id="txtGerkudTelf">
                                </div>
                            </div>


                            <label for="txtGerkudNotify" class="control-label">Solicita que se le notifique:</label>
                            <input type="checkbox" name="data[user][notify]" id="txtGerkudNotify">
                        </div>
                        <div class="form-group">
                            <label for="txtGerkudOharrak">Oharrak</label>
                            <textarea id="txtGerkudOharrak" class="form-control" rows="3" name="comments"
                                      placeholder=""></textarea>
                        </div>
                        <input type="hidden" name="version" value="2">
                        <input type="hidden" name="key" value="{{ horkonpon }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Itxi</button>
                    <button id="btnGerkudSave" type="button" class="btn btn-primary">Gorde</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Información</h4>
                </div>
                <div class="modal-body">
                    <label for="infobox">Informazio eskaeraren deskribapena</label>
                    <textarea id="infobox" class="form-control" rows="5"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Itxi</button>
                    <button id="btnInfoSave" type="button" class="btn btn-primary">Gorde</button>
                </div>
            </div>
        </div>
    </div>

    <input id="txtLocale" type="hidden" value="{{ app.request.locale }}">

{% endblock %}

{% block foot_script %}
    {{ parent() }}

    <script>

        $(document).ready(function () {

            var url = document.location.toString();
            if ( url.match("#") ) {
                $(".nav-tabs a[href=\"#" + url.split("#")[1] + "\"]").tab("show");
            }

            var url3 = "http://zerbikat.sare.gipuzkoa.net/api/sailak/064.json";
            $.getJSON(url3, function ( data ) {
                $.each(data, function ( key, val ) {
                    if ( !("parent" in val) ) {
                        if ( $("#txtLocale").val() === "eu" ) {
                            $("#cmbFamilia").append("<option value='" + val.id + "'>" + val.sailaeu + "</option>");
                        } else {
                            $("#cmbFamilia").append("<option value='" + val.id + "'>" + val.sailaes + "</option>");
                        }
                    }
                });
            }).fail(function ( jqXHR, textStatus, errorThrown ) {
                console.log("error " + textStatus);
                console.log("incoming Text " + jqXHR.responseText);
            });


            var urlHelbideak = "http://172.23.64.29:3000/";
            $.getJSON(urlHelbideak, function ( data ) {
                $.each(data, function ( key, val ) {
                    $("#helbidea").append("<option value='" + val.izena + "'>" + val.izena + "</option>");
                });
            }).fail(function ( jqXHR, textStatus, errorThrown ) {
                console.log("error " + textStatus);
                console.log("incoming Text " + jqXHR.responseText);
            });

            $("#helbidea").on("change", function () {
                var h = $(this).val();

                if ( h === "-1" ) {
                    $("#txtGerkudHelbidea").val("");
                } else {
                    $("#txtGerkudHelbidea").val(h);
                }

            });

        });

    </script>
{% endblock %}