{% extends 'base.html.twig' %}

{% block head_style %}

    {{  parent() }}

    <link href="{{ asset('css/daterangepicker.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-editable.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/featherlight.min.css') }}" type="text/css" rel="stylesheet">

{% endblock head_style %}

{% block head_script %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('js/featherlight.min.js') }}"></script>
    <script src="{{ asset('js/select2.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>

    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock head_script %}

{% block headline %}
    <div class="row">
        <div class="col-md-1"><a class="btn btn-success" href="{{ path('admin_arreta_new') }}">{{ "Arreta berria" | trans }}</a></div>
        <div class="col-md-10">

            <div class="row">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-xs-5">
                        {{ "Arretak guztira" | trans }} <span class="label label-success">{{ arretas|length }}</span>
                    </div>
                    <div class="col-xs-5">
                        {{ "Gaurko arretak" | trans }} <span class="label label-success">{{ arretakGaur }}</span>
                    </div>
                {% else %}
                    <div class="col-xs-4">
                        {{ "Zure arretak guztira" | trans }} <span class="label label-success">{{ arretas|length }}</span>
                    </div>
                    <div class="col-xs-4">
                        {{ "Zure gaurko arretak" | trans }} <span class="label label-success">{{ arretakGaur.zenbat }}</span>
                    </div>
                    <div class="col-xs-4">
                        {{ 'HAZ/SAC gaur' | trans }} &nbsp; <span class="label label-primary">
                            {% if arretakGaurDenak is defined %}
                                {{ arretakGaurDenak }}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
                
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock headline %}

{% block content_row %}

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <div class="row">
                        <form action="{{ path('admin_arreta_index') }}" class="form-inline" method="post">
                            <div class="col-md-12">
                                <div class="col-md-3" id="divDateRange">
                                    <label>{{ "Datak" | trans }}</label>
                                    <div class="input-daterange input-group" id="filterDatepicker">
                                        <input type="text" class="input-sm form-control daterange" name="data_hasi" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="cmbEgoera">{{ "Egoera" | trans }}</label><br>
                                    <select name="egoera" id="cmbEgoera" class="form-control">
                                        <option value="0">{{ "Irekita" | trans}}</option>
                                        <option value="1">{{ "Itxita" | trans }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-1">
                                    <label for=""></label>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">&nbsp;</div>
    <hr>
    <div class="row datatableTaula">
        <div class="col-md-12">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>

    <input type="hidden" id="txtLehena" value="0">

{% endblock %}
{% block foot_script %}

    <script>
        $(document).ajaxComplete(function () {

            var lehena = $("#txtLehena").val();
            if ( lehena === "0") {
                $('#sg-datatables-arreta_datatable-multiselect-actions').prependTo('#sg-datatables-arreta_datatable_wrapper');
                $("txtLehena").val(1);
            }

        })
    </script>
    <script type="text/javascript">
        $( document ).ready(function() {
            moment.locale("es");

            // $('input[name="daterange"]').daterangepicker();
            $('.daterange').daterangepicker();
        });
    </script>


{% endblock %}