{% extends 'base.html.twig' %}

{% block headline %}
    <div class="row">
        <div class="col-md-1"><a class="btn btn-success" href="{{ path('admin_arreta_new') }}">Arreta berria</a></div>
        <div class="col-md-10"></div>
        <div class="col-md-1"><a id="btnArretaGorde" class="btn btn-primary" href="javascript:void(0);">Gorde</a></div>
    </div>
{% endblock headline %}

{% block content_content %}
    <h1>Azken arretak</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fetxa</th>
                <th>Nan</th>
                <th>Oharra</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for arreta in arretas %}
            <tr>
                <td><a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}">{{ arreta.id }}</a></td>
                <td>{% if arreta.fetxa %}<a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}">{{ arreta.fetxa|date('Y-m-d') }}</a>{% endif %}</td>
                <td><a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}">{{ arreta.nan }}</a></td>
                <td><a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}">{{ arreta.oharra }}</a></td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}"><i class="fa fa-edit"></i></a>
                        </li>
                        <li>
                            {{ form_start(deleteforms[arreta.id],{'attr': {'id': 'deleteArretaForm' ~ arreta.id}}) }}
                            <a class="btnDelete" data-miid="{{ arreta.id }}" href="javascript:void(0)"><i class="fa fa-trash text-danger"></i></a>
                            {{ form_end(deleteforms[arreta.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btnDelete').on('click', function () {
                var r = confirm("{{ 'messages.ziurzaude'|trans }}");
                if ( r === true ) {
                    var miid = $(this).data("miid");
                    var frm = "#deleteArretaForm" + miid;
                    console.log(frm);
                    $(frm).submit();
                }
            })
        })
    </script>

{% endblock %}