{% extends 'base.html.twig' %}

{% block headline %}
    <div class="row">
        <div class="col-md-1"><a class="btn btn-success" href="{{ path('admin_arreta_new') }}">Arreta berria</a></div>
        <div class="col-md-10"></div>
        <div class="col-md-1"><a id="btnArretaGorde" class="btn btn-primary" href="javascript:void(0);">Gorde</a></div>
    </div>
{% endblock headline %}

{% block content_content %}
    <h1>Azken arretak</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fetxa</th>
                <th>Nan</th>
                <th>Remitente</th>
                <th>Genero</th>
                <th>Adina</th>
                <th>Nazionalitatea</th>
                <th>Hizkuntza</th>
                <th>Barrutia</th>
                <th>Administrazioa</th>
                <th>Oharra</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arretum in arretas %}
            <tr>
                <td><a href="{{ path('admin_arreta_show', { 'id': arretum.id }) }}">{{ arretum.id }}</a></td>
                <td>{% if arretum.fetxa %}{{ arretum.fetxa|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ arretum.nan }}</td>
                <td>{{ arretum.remitente }}</td>
                <td>{{ arretum.genero }}</td>
                <td>{{ arretum.adina }}</td>
                <td>{{ arretum.nazionalitatea }}</td>
                <td>{{ arretum.hizkuntza }}</td>
                <td>{{ arretum.barrutia }}</td>
                <td>{{ arretum.administrazioa }}</td>
                <td>{{ arretum.oharra }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_arreta_show', { 'id': arretum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_arreta_edit', { 'id': arretum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
