{% extends 'base.html.twig' %}

{% block head_style %}

    {{  parent() }}

    <link href="{{ asset('css/daterangepicker.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-editable.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('css/featherlight.min.css') }}" type="text/css" rel="stylesheet">

{% endblock head_style %}

{% block head_script %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('js/featherlight.min.js') }}"></script>
    <script src="{{ asset('js/select2.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>

    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock head_script %}

{% block headline %}
    <div class="row">
        <div class="col-md-1"><a class="btn btn-success" href="{{ path('admin_arreta_new') }}">{{ "Arreta berria" | trans }}</a></div>
        <div class="col-md-10">

            <div class="row">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-xs-5">
                        {{ "Arretak guztira" | trans }} <span class="label label-success">{{ arretas|length }}</span>
                    </div>
                    <div class="col-xs-5">
                        {{ "Gaurko arretak" | trans }} <span class="label label-success">{{ arretakGaur }}</span>
                    </div>
                {% else %}
                    <div class="col-xs-4">
                        {{ "Zure arretak guztira" | trans }} <span class="label label-success">{{ arretas|length }}</span>
                    </div>
                    <div class="col-xs-4">
                        {{ "Zure gaurko arretak" | trans }} <span class="label label-success">{{ arretakGaur.zenbat }}</span>
                    </div>
                    <div class="col-xs-4">
                        {{ 'HAZ/SAC gaur' | trans }} &nbsp; <span class="label label-primary">
                            {% if arretakGaurDenak is defined %}
                                {{ arretakGaurDenak }}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
                
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock headline %}

{% block content_row %}

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <div class="row">
                        <form action="{{ path('admin_arreta_find') }}" class="form-inline" method="post">
                            <div class="col-md-12">
                                <div class="col-md-3" id="divDateRange">
                                    <label>{{ "Datak" | trans }}</label>
                                    <div class="input-daterange input-group" id="filterDatepicker">
                                        <input type="text" class="input-sm form-control" name="data_hasi" />
                                        <span class="input-group-addon">-</span>
                                        <input type="text" class="input-sm form-control" name="data_amaitu" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="cmbEgoera">{{ "Egoera" | trans }}</label><br>
                                    <select name="egoera" id="cmbEgoera" class="form-control">
                                        <option value="0">{{ "Irekita" | trans}}</option>
                                        <option value="1">{{ "Itxita" | trans }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-1">
                                    <label for=""></label>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">&nbsp;</div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {{ sg_datatables_render(datatable) }}
        </div>
    </div>

{% endblock %}
{% block foot_script %}

    <script>
        $(document).ready(function () {
            $(".btnDelete").on("click", function () {
                var r = confirm("{{ 'messages.ziurzaude'|trans }}");
                if ( r === true ) {
                    var miid = $(this).data("miid");
                    var frm = "#deleteArretaForm" + miid;
                    $(frm).submit();
                }
            });

            {% if app.request.locale != "eu" %}

                $('#niredatatable').dataTable({
                    "pageLength": 30,
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });

            {% else %}

                $('#niredatatable').dataTable({
                    "pageLength": 30,
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "sProcessing":     "Prozesatzen...",
                        "sLengthMenu":     "Erakutsi _MENU_ erregistro",
                        "sZeroRecords":    "Ez da emaitzarik aurkitu",
                        "sEmptyTable":     "Taula hontan ez dago inongo datu erabilgarririk",
                        "sInfo":           "_START_ -etik _END_ -erako erregistroak erakusten, guztira _TOTAL_ erregistro",
                        "sInfoEmpty":      "0tik 0rako erregistroak erakusten, guztira 0 erregistro",
                        "sInfoFiltered":   "(guztira _MAX_ erregistro iragazten)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Aurkitu:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Abiarazten...",
                        "oPaginate": {
                            "sFirst":    "Lehena",
                            "sLast":     "Azkena",
                            "sNext":     "Hurrengoa",
                            "sPrevious": "Aurrekoa"
                        },
                        "oAria": {
                            "sSortAscending":  ": Zutabea goranzko eran ordenatzeko aktibatu ",
                            "sSortDescending": ": Zutabea beheranzko eran ordenatzeko aktibatu"
                        }
                    }
                });

            {% endif %}

        })
    </script>

{% endblock %}