{% extends 'base.html.twig' %}

{% block headline %}
    <div class="row">
        <div class="col-md-1"><a class="btn btn-success" href="{{ path('admin_arreta_new') }}">{{ "Arreta berria" | trans }}</a></div>
        <div class="col-md-10"></div>
        <div class="col-md-1"></div>
    </div>
{% endblock headline %}

{% block content_content %}

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <div class="row">
                        <form action="{{ path('admin_arreta_find') }}" class="form-inline" method="post">
                            <div class="col-md-12">
                                <div class="col-md-3" id="divDateRange">
                                    <label>{{ "Datak" | trans }}</label>
                                    <div class="input-daterange input-group" id="filterDatepicker">
                                        <input type="text" class="input-sm form-control" name="data_hasi" />
                                        <span class="input-group-addon">-</span>
                                        <input type="text" class="input-sm form-control" name="data_amaitu" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="cmbEgoera">{{ "Egoera" | trans }}</label><br>
                                    <select name="egoera" id="cmbEgoera" class="form-control">
                                        <option value="0">{{ "Irekita" | trans}}</option>
                                        <option value="1">{{ "Itxita" | trans }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-1">
                                    <label for=""></label>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">&nbsp;</div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="niredatatable">
                <thead>
                <tr>
                    {#<th></th>#}
                    <th>Id</th>
                    <th>{{ "Langilea" | trans }}</th>
                    <th>{{ "Kokalekua" | trans }}</th>
                    <th>{{ "Data" | trans }}</th>
                    <th>{{ "Nan" | trans }}</th>
                    <th>{{ "Kanala" | trans }}</th>
                    <th>{{ "Tramiteak" | trans }}</th>
                    <th>{{ "Egoera" | trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for arreta in arretas %}

                    <tr>
                        <td>
                            <a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}">{{ arreta.id }}</a>
                        </td>
                        <td>
                            {{ arreta.user.username }}
                        </td>
                        <td>
                            {{ arreta.user.barrutia }}
                        </td>
                        <td>
                            {% if arreta.created %}
                                {% if arreta.isclosed == true %}
                                    {{ arreta.created|date('Y-m-d H:i:s') }}
                                {% else %}
                                    <a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}">{{ arreta.created|date('Y-m-d H:i:s') }}</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ arreta.nan }}
                        </td>
                        <td>
                            {{ arreta.kanala }}
                        </td>
                        <td>
                            <span class="label label-primary">{{ arreta.tramiteak | length }}</span>
                        </td>
                        <td>
                            {% if arreta.isclosed == true %}
                                <label class="label label-danger">Itxita</label>
                            {% else %}
                                <label class="label label-success">Irekita</label>
                            {% endif %}
                        </td>
                        <td>

                            <ul class="list-inline">
                                <li>
                                    <a href="{{ path('admin_arreta_edit', { 'id': arreta.id }) }}"><i class="fa fa-edit"></i> {{ "Aldatu" | trans }}</a>
                                </li>
                                <li>
                                    {{ form_start(deleteforms[arreta.id],{'attr': {'id': 'deleteArretaForm' ~ arreta.id}}) }}
                                    <a class="btnDelete" data-miid="{{ arreta.id }}" href="#"><i class="fa fa-trash text-danger"></i> {{ "Ezabatu" | trans }}</a>
                                    {{ form_end(deleteforms[arreta.id]) }}
                                </li>
                            </ul>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".btnDelete").on("click", function () {
                var r = confirm("{{ 'messages.ziurzaude'|trans }}");
                if ( r === true ) {
                    var miid = $(this).data("miid");
                    var frm = "#deleteArretaForm" + miid;
                    $(frm).submit();
                }
            });

            {% if app.request.locale != "eu" %}

                $('#niredatatable').dataTable({
                    "pageLength": 30,
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });

            {% else %}

                $('#niredatatable').dataTable({
                    "pageLength": 30,
                    "order": [[ 0, "desc" ]],
                    "language": {
                        "sProcessing":     "Prozesatzen...",
                        "sLengthMenu":     "Erakutsi _MENU_ erregistro",
                        "sZeroRecords":    "Ez da emaitzarik aurkitu",
                        "sEmptyTable":     "Taula hontan ez dago inongo datu erabilgarririk",
                        "sInfo":           "_START_ -etik _END_ -erako erregistroak erakusten, guztira _TOTAL_ erregistro",
                        "sInfoEmpty":      "0tik 0rako erregistroak erakusten, guztira 0 erregistro",
                        "sInfoFiltered":   "(guztira _MAX_ erregistro iragazten)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Aurkitu:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Abiarazten...",
                        "oPaginate": {
                            "sFirst":    "Lehena",
                            "sLast":     "Azkena",
                            "sNext":     "Hurrengoa",
                            "sPrevious": "Aurrekoa"
                        },
                        "oAria": {
                            "sSortAscending":  ": Zutabea goranzko eran ordenatzeko aktibatu ",
                            "sSortDescending": ": Zutabea beheranzko eran ordenatzeko aktibatu"
                        }
                    }
                });

            {% endif %}

        })
    </script>

{% endblock %}