{% extends 'base.html.twig' %}


{% block headline %}
    Kanalen kudeaketa
{% endblock headline %}

{% block subheadline %}
    <div class="page-header">
        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('admin_kanala_new') }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Berria</a>
            </li>
        </ul>
    </div>
{% endblock subheadline %}


{% block content %}

<div class="col-sm-12">
    <table class="table table-condensed table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Kanala (eus)</th>
                <th>Kanala (cas)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for kanala in kanalas %}
            <tr>
                <td><a href="{{ path('admin_kanala_edit', { 'id': kanala.id }) }}">{{ kanala.id }}</a></td>
                <td>{{ kanala.name }}</td>
                <td>{{ kanala.namees }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_kanala_edit', { 'id': kanala.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Aldatu</a>
                        </li>
                        <li>
                            {{ form_start(deleteforms[kanala.id],{'attr': {'id': 'deleteKanalaForm' ~ kanala.id}}) }}
                                <a class="btnDelete" data-miid="{{ kanala.id }}" href="javascript:void(0)"><i class="fa fa-trash text-danger"></i></a>
                            {{ form_end(deleteforms[kanala.id]) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.btnDelete').on('click', function () {
                var r = confirm("{{ 'messages.ziurzaude'|trans }}");
                if ( r === true ) {
                    var miid = $(this).data("miid");
                    var frm = "#deleteKanalaForm" + miid;
                    console.log(frm);
                    $(frm).submit();
                }
            })
        })
    </script>

{% endblock %}