{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kanalas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Contentchangedby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kanala in kanalas %}
            <tr>
                <td><a href="{{ path('admin_kanala_show', { 'id': kanala.id }) }}">{{ kanala.id }}</a></td>
                <td>{{ kanala.name }}</td>
                <td>{% if kanala.created %}{{ kanala.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if kanala.updated %}{{ kanala.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ kanala.contentChangedBy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_kanala_show', { 'id': kanala.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_kanala_edit', { 'id': kanala.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_kanala_new') }}">Create a new kanala</a>
        </li>
    </ul>
{% endblock %}
